<div class="signup-page">
    <div class="signin-top">
        <a routerLink=""><img src="./../../assets/01_Netflix_Logo/01_Netflix_Logo_RGB/Netflix_Logo_RGB.png" alt="" class="logo-img"></a> 
        <a (click)="OnSignIn()">Sign In</a> 
    </div>
      <div class="sign-up-content">
        <div class="step-one" [ngClass]="{'hide': !stepOne, 'display-first': stepOne}">
            <img src="/assets/Devices.png" alt="">
            <h4 class="step">STEP <span style="font-weight: 500;">1</span> OF <span style="font-weight: 500;">3</span></h4>
            <h5>Finish setting up your account.</h5>
            <p>Netflix is personalized for you. Create a password to watch Netflix on any device at any time.</p>
            <button class="btn" (click)="goToStepOneB()">Continue</button>
        </div>

        <div class="step-one-b" [ngClass]="{'hide': !stepOneB && stepOneBOpened, 'display': stepOneB, 'dont-display': !stepOneBOpened && !stepOneB}"> 
            <div class="sign-in-error" *ngIf="!!error">
                <span><fa-icon class="warning-icon" [icon]="faExclamationTriangle"></fa-icon></span>
                <p><span style="font-weight: 500;">{{error}} </span> <span *ngIf="emailExists"> <a (click)="goToSignIn()" style="text-decoration: underline;">Sign into that account</a> or try using a different email.</span></p>
            </div>
            <h4 class="step">STEP <span style="font-weight: 500;">1</span> OF <span style="font-weight: 500;">3</span></h4>
            <h5>Create a password to start your membership.</h5>
            <p>Just a few more steps and you're done! We hate paperwork, too.</p>
            <form class="sign-in-form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                <div class="form-group" [ngClass]="{'margin-bottom': !controls.email.valid && controls.email.touched}">
                    <input 
                    type="email" 
                    id="email"
                    ngModel
                    required
                    email
                    name="email"
                    class="sign-in-input"
                    #EmailInput
                    [ngClass]="{'form-input-error': !controls.email.valid && controls.email.touched, 'form-input-valid': controls.email.valid && controls.email.touched}"
                    (focusout)="onEmailFocousOut(authForm)"
                    (keyup)="onEmailKeyDown(authForm)"
                    >
                    <label for="email" class="form-label" [ngClass]="{'keep-label-up': !!emailInput.nativeElement.value}">
                        <span class="form-label-content">Email</span>
                    </label>
                </div>
                <p *ngIf="controls.email.touched && !controls.email.valid" class="sign-in-error-msg">{{ controls.email.errorMsg }}</p>
    
                <div class="form-group" style="margin-bottom: 0;">
                    <input 
                    type="password"
                    id="password"
                    ngModel
                    name="password"
                    class="form-control"
                    required 
                    minlength="6"    
                    class="sign-in-input"
                    [ngClass]="{'form-input-error': !controls.password.valid && controls.password.touched, 'form-input-valid': controls.password.valid && controls.password.touched}"
                    (focusout)="onPasswordFocousOut(authForm)"
                    (keyup)="onPasswordKeyDown(authForm)"
                    #PasswordInput
                    >
                    <label for="password" class="form-label" [ngClass]="{'keep-label-up': !!passwordInput.nativeElement.value}">
                        <span class="form-label-content">Password</span>
                    </label>
                </div>
                <p *ngIf="controls.password.touched && !controls.password.valid"class="sign-in-error-msg">{{ controls.password.errorMsg }}</p>
    
                <div>
                    <button 
                    type="submit" 
                    class="Sign-in-btn"
                    [ngClass]="{'btn-loading-light': loading}"
                    >
                    <mat-spinner [diameter]="30" [strokeWidth]="2" class="proggress-spinner-light" *ngIf="loading"></mat-spinner>
                    <p *ngIf="!loading">Sign In</p>
                </button> 
                </div>
            </form>
        </div>

            <div class="step-two" [ngClass]="{'hide': !stepTwo && stepTwoOpened, 'display': stepTwo, 'dont-display': !stepTwoOpened}">
                <div class="justify-center">
                    <div class="check-icon-wrapper"><mat-icon class="check-icon">done</mat-icon></div>
                </div> 
                <h4 class="step">STEP <span style="font-weight: 500;">2</span> OF <span style="font-weight: 500;">3</span></h4>
                <h5 class="title">Choose your plan.</h5>
                <p class="center"><span class="check-icon"><mat-icon>done</mat-icon></span> No commitments, cancel anytime.</p>
                <p class="center"><span class="check-icon"><mat-icon>done</mat-icon></span> Everything on Netflix for one low price.</p>
                <p class="center"><span class="check-icon"><mat-icon>done</mat-icon></span> Unlimited viewing on all your devices.</p>
                <div class="justify-center">
                    <button class="btn" (click)="goToStepTwoB()">See the Plans</button> 
                </div>
            </div> 
            
            <div class="step-two-b" [ngClass]="{'hide': !stepTwoB && stepTwoBOpened, 'display': stepTwoB, 'dont-display': !stepTwoBOpened}">
                
            </div>

            <div class="step-two-b">
                <h4 class="step">STEP <span style="font-weight: 500;">2</span> OF <span style="font-weight: 500;">3</span></h4>
                <h5 class="title">Choose the plan that’s right for you</h5>
                <p class="center"><span class="check-icon"><mat-icon>done</mat-icon></span> Watch all you want. Ad-free.</p>
                <p class="center"><span class="check-icon"><mat-icon>done</mat-icon></span> Recommendations just for you.</p>
                <p class="center"><span class="check-icon"><mat-icon>done</mat-icon></span> Change or cancel your plan anytime.</p>
                <table class="table">
                    <tr class="table-header">
                        <th></th>
                        <th>
                            <div class="plan" (click)='onBasicSelected()' [ngClass]="{'plan-selected': basicSelected}">
                            <p>Basic</p>
                            <fa-icon *ngIf="basicSelected" class="arrow-down" [icon]="faCaretDown"></fa-icon>
                        </div>
                        </th>
                        <th>
                            <div class="plan" (click)='onStandardSelected()' [ngClass]="{'plan-selected': standardSelected}">
                                <p>Standard</p>
                                <fa-icon *ngIf="standardSelected" class="arrow-down" [icon]="faCaretDown"></fa-icon>
                            </div>
                        </th>
                        <th>
                            <div class="plan" (click)='onPremiumSelected()' [ngClass]="{'plan-selected': premiumSelected}">
                                <p>Premium</p>
                                <fa-icon *ngIf="premiumSelected" class="arrow-down" [icon]="faCaretDown"></fa-icon>
                            </div>
                        </th>
                    </tr>
                    <tr class="table-row border-bottom">
                            <td>Monthly price</td>
                            <td (click)='onBasicSelected()'><p [ngClass]="{'plan-selected-content': basicSelected}" class="table-content">$9.99</p></td>
                            <td (click)='onStandardSelected()'><p [ngClass]="{'plan-selected-content': standardSelected}" class="table-content">$14.99</p></td>
                            <td (click)='onPremiumSelected()'><p [ngClass]="{'plan-selected-content': premiumSelected}" class="table-content">$18.99</p></td>
                    </tr>

                    <tr class="table-row border-bottom">
                        <td>Video quality</td>
                        <td (click)='onBasicSelected()'><p [ngClass]="{'plan-selected-content': basicSelected}" class="table-content">Good</p></td>
                        <td (click)='onStandardSelected()'><p [ngClass]="{'plan-selected-content': standardSelected}" class="table-content">Better</p></td>
                        <td (click)='onPremiumSelected()'><p class="table-content" [ngClass]="{'plan-selected-content': premiumSelected}">Best</p></td>
                    </tr>
                    <tr class="table-row border-bottom">
                        <td>Resolution</td>
                        <td (click)='onBasicSelected()'><p [ngClass]="{'plan-selected-content': basicSelected}" class="table-content">480p</p></td>
                        <td (click)='onStandardSelected()'><p [ngClass]="{'plan-selected-content': standardSelected}" class="table-content">1080p</p></td>
                        <td (click)='onPremiumSelected()'><p [ngClass]="{'plan-selected-content': premiumSelected}" class="table-content">4K+HDR</p></td>
                    </tr>
                    <tr class="table-row">
                        <td>Watch on your TV, computer, mobile phone and tablet</td>
                        <td (click)='onBasicSelected()'><mat-icon [ngClass]="{'plan-selected-content': basicSelected}" class="table-content">done</mat-icon></td>
                        <td (click)='onStandardSelected()'><mat-icon [ngClass]="{'plan-selected-content': standardSelected}" class="table-content">done</mat-icon></td>
                        <td (click)='onPremiumSelected()'><mat-icon  [ngClass]="{'plan-selected-content': premiumSelected}" class="table-content">done</mat-icon></td>
                    </tr>
                </table>
                <p class="step-two-b-bottom-msg">HD (720p), Full HD (1080p), Ultra HD (4K) and HDR availability subject to your internet service and device capabilities. Not all content is available in all resolutions. See our Terms of Use for more details.</p>
                <p class="step-two-b-bottom-msg">Only people who live with you may use your account. Watch on 4 different devices at the same time with Premium, 2 with Standard and 1 with Basic.</p>
                <button class="btn">Continue</button>
            </div>
        </div>
        
        
    <div class="sign-in-bottom">
        <div class="sign-in-bottom-wrapper">
            <div class="info-top">
                <p class="">Question? Call <a href="tel:1-844-542-4813">1-844-542-4813</a></p> 
            </div>
            <div class="info-middle">
                <a href="">FAQ</a>
                <a href="">Help Center</a>
                <a href="">Terms of Use</a>
                <a href="">Privacy</a>
                <a href="">Cookie Preferences</a>
                <a href="">Corporate Information</a>
            </div>
            <div class="info-bottom">
                <div class="languages">
                    <span class="globe"><fa-icon [icon]="faGlobe"></fa-icon></span>
                    <select name="languages">
                        <option value="English">English</option>
                    </select>
                    <span class="select-arrow"></span>
                </div>
            </div>
        </div>
    </div>
    



<!-- #f3f3f3 -->