<div class="landing-background"></div>
<div class="landing-background-overlay"></div>

<div class="sign-in-page">
    <div class="signin-top">
        <a routerLink=""><img src="./../../assets/01_Netflix_Logo/01_Netflix_Logo_RGB/Netflix_Logo_RGB.png" alt="" class="logo-img"></a> 
    </div>
    
    <div class="sign-in-background">
     
<form class="sign-in-form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <h3>Sign In</h3>
    <div class="sign-in-error" *ngIf="!!error">
        <p>{{error.msg}}</p>
    </div>
    <div class="form-group" [ngClass]="{'no-margin': controls.email.touched && !controls.email.valid}">
        <input 
        type="email" 
        id="email"
        ngModel
        required
        email
        name="email"
        class="sign-in-input"
        [ngClass]="{'form-input-error': !controls.email.valid && controls.email.touched}"
        (focusout)="onEmailFocousOut(authForm)"
        (keyup)="onEmailKeyDown(authForm)"
        #EmailInput
        >
        <label for="email" class="form-label" [ngClass]="{'keep-label-up': !!emailInput.nativeElement.value}">
            <span class="form-label-content">Email</span>
        </label>
    </div>
    <p 
    *ngIf="controls.email.touched && !controls.email.valid"
    class="sign-in-error-msg"
    >{{ controls.email.errorMsg }}</p>

    <div class="form-group" style="margin-bottom: 0;">
        <input 
        type="password"
        id="password"
        ngModel
        name="password"
        class="form-control"
        required 
        minlength="6"    
        class="sign-in-input"
        [ngClass]="{'form-input-error': !controls.password.valid && controls.password.touched}"
        (focusout)="onPasswordFocousOut(authForm)"
        (keyup)="onPasswordKeyDown(authForm)"
        #PasswordInput
        >
        <label for="password" class="form-label" [ngClass]="{'keep-label-up': !!passwordInput.nativeElement.value}">
            <span class="form-label-content">Password</span>
        </label>
    </div>
    <p 
    *ngIf="controls.password.touched && !controls.password.valid"
    class="sign-in-error-msg"
    >{{ controls.password.errorMsg }}</p>

    <div>
        <button 
        type="submit" 
        [disabled]="!authForm.valid"
        class="Sign-in-btn"
        >
        {{ isLoginMode ? 'Sign In' : 'Sign Up'}} 
    </button> 
        <!-- <button (click)="onSwitchMode()" type="button">Switch to {{ isLoginMode ? 'Sign Up' : 'Sign In'}}</button> -->
    </div>
</form>
    </div>
</div>

<!-- <a routerLink="/">back</a> -->