// VARIABLES 
$background-color: #141414;
$background-color: #fff;
$error: #e87c03;
$netflix-red: #e50914; 



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 16px;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{ 
    overflow-X: hidden;
    background-color: $background-color;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #fff;
    &:hover {
        cursor: pointer;
    }
}
p{
    margin: 0;
}

form {
    padding: 20px;
}

.landing {
    height: 70vh;
}

.btn {
    background-color: $netflix-red;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 15px 0;
}

.landing-top {
    display: flex;
    justify-content: space-between;
    .landing-background{
        height: 72vh;
    }

    .btn{
        margin-left: 35px;
        padding: 7px 17px;
        font-weight: 400;
        font-size: 1rem;
    }
}

.languages{
    position: relative;
    select{
        background-color: transparent ;
        height: 40px;
        color: #ffffff;
        outline: none;
        border: 1px solid #838384;
        border-radius: 2px;
        margin: 0;
        // margin-left: 10px;
        // margin-right: 20px ;
        padding: 10px 30px;
        font-size: 0.8rem;
        width: 100%;
        appearance: none;
        // background-color: #000101;
        background-color: rgba($color: #0f0d10, $alpha: 0.8);
        span {
            // color: rgb(255, 0, 0);
        } 
    }
    .globe{
        position: absolute;
        left: 6px;
        top: 11px;
        transform: scale(0.75);
        // padding-right: 10px;
        pointer-events: none;
    }
    .select-arrow{
        display: block;
        // width: 1rem;
        // height: 1rem ;
        position: absolute;
        top: 1px;
        right: 0px;
        // height: 100%;
        // margin: auto;
        width: 20px;
        pointer-events: none;
        border-radius: 2px;
        &::before{
            content: '';
            position: absolute ;
            width: 0;
            height: 0 ;
            // left: -3px;
            top: 16px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #ffffff; 
        }
    }
 }

.landing-top-right{
    display: flex;
    align-items: center;
    margin-right: 3%;
    // max-width: 100%;
}

.logo:hover {
    cursor: default;
}
.logo-img {
    width: 210px;
    height: 89px;
    margin-left: 2%;
}

.landing-background {
    // min-height: 100vh;
    // max-height: 110vh;
    height: 110vh;
    width: 100%;
    position: absolute;
    background: url('./assets/CA-en-20210322-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    &::after{
        content: '';
        height: 110vh;
        // min-height: 100vh;
        // max-height: 110vh;
        width: 100vw;
        position: absolute;
        background-color: rgba(0,0,0,0.4);
    }
}

.landing-background-overlay{
    // height: 100vh;
    // width: 100vw;
    // position: absolute;
    // background-color: rgba(0,0,0,0.4);
}


// sign in page
.sign-in-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    min-height: 100vh;
    // max-height: 110vh;s
    background: url('./assets/CA-en-20210322-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // z-index: 1;
     &::after{
        content: '';
        height: 100%;
        // min-height: 100vh;
        // max-height: 110vh;
        width: 100vw;
        position: absolute;
        background-color: rgba(0,0,0,0.4);
        z-index: 1;
    }
}

.signin-top {
    z-index: 2;
    img:hover {
        cursor: pointer;
    }
}

.sign-in-form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-background {
    justify-self: center;
    align-self: center;
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    width: 450px;
    // height: 660px;
    display: flex;
    justify-content: center;
    // align-items: center;
    padding: 60px 68px 40px;
    margin-bottom: 90px;
}

.sign-in-form{
    flex-direction: column;
    width: fit-content;
    padding: 0;
    width: 100%;
    position: relative;
    h3 {
        font-size: 32px;
        margin-bottom: 25px;
    }
}
.form-group{ 
    position: relative;
    margin-bottom: 16px;
}
.no-margin {
    margin-bottom: 0;
}
.form-label-content{
    position: absolute;
    bottom: 16px;
    left: 20px;
    // transition: ;
}
.sign-in-input{
    width: 100%;
    color: #fff;
    background-color: #333333;
    border: none;
    border-radius: 4px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    &:focus{
        outline: none;
        +.form-label{
            transform: translate(-14%, -18%) scale(0.7);
        }
    }
    &:hover {
        cursor: text;
    }
}

.form-input-error{
    border-bottom: 2px solid $error;
}

.keep-label-up{
    transform: translate(-14%, -18%) scale(0.7);
}

.form-label{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: transform 250ms ease-in-out;
    color: #7a7a7a;
}

.sign-in-error{
    background-color: $error;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    p{
        font-size: 13px;
    }
}

.sign-in-error-msg {
    color: $error;
    font-size: 0.8rem;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 12px;
}

.Sign-in-btn{
    width: 100%;
    background-color: $netflix-red;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: 40px 0 12px;
    padding: 15px 0;
    &:hover{
        cursor: pointer;
    }
}

.new-to-netflix{
    color: #737373;
    margin-bottom: 20px;
    a:hover{
        text-decoration: underline;
    }
}

.sign-in-bottom{
    // position: absolute;
    // bottom: 0;
    z-index: 2;
    height: 178px;
    width: 100vw;
    background-color: rgba(0,0,0,.75);
}

.facebook-icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.login-with-facebook-link{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 70px;
    margin-bottom: 20px;
}

.form-paragraph{
    font-size: 13px;
    color: #737373;
    span, a{
        color: #025fc4;
        font-size: 13px;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.google-msg{
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    margin-top: 10px;
}

.show{
    opacity: 1;
}

.form-bottom{
    // margin-top: 20px;
}


a{
    // position: relative;
}

.sign-in-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 50px 0;
    margin: 0 auto;
    color: #737373;
    height: fit-content;
    a{
        color: #737373;
        font-size: 0.8rem;
        width: fit-content;
        &:hover{
            text-decoration: underline;
        }
    }
}

.sign-in-bottom-wrapper{
    width: 70%;
}

.info-top{
    margin-bottom: 20px;
    width: 100%;
}
.info-middle{
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
}

.info-bottom {
    .languages{
        width: 110px;
        border: 0.5px solid #262626;
    }
    max-width: 100%;
    select{
        color: #737373;
    }
    .select-arrow {
        &::before{
            border-top: 5px solid #737373; 
        }
    }
}



@media (max-width: 780px){
    .sign-in-page-overlay {
        background-color: #000;
    }

    .sign-in-background {
        width: 100%;
        padding: 0 5%;
        height: fit-content;
    }

    .sign-in-bottom-wrapper {
        width: 100%;
        padding: 0 5%;
    }
    .sign-in-bottom {
        border-top: solid #737373 1px;
    }

    .sign-in-page {
        justify-content: flex-start;
    }
    .google-msg {
        padding-bottom: 40px;
    }
}


@media (max-width: 500px){
    .info-middle{
        grid-template-columns: repeat(2, 1fr);
    }

    .logo-img {
        width: 110px;
        padding-top: 10px;
    }
}
@media (max-width: 250px){
    .info-middle{
        grid-template-columns: repeat(1, 1fr);
    }
}
