// VARIABLES 
$background-color: #141414;
// $background-color: #fff;
$error: #e87c03;
$netflix-red: #e50914; 

$landing-height: 70vh;



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 16px;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{ 
    overflow-X: hidden;
    background-color: $background-color;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #fff;
    &:hover {
        cursor: pointer;
    }
}
p{
    margin: 0;
}

form {
    padding: 20px;
}



// ------------------------------------------------ Landing
.landing {
    height: $landing-height;
    width: 100%;
    position: relative;
    background: url('./assets/CA-en-20210322-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after{
        content: '';
        height: 100%;
        width: 100vw;
        position: absolute;
        top: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
    }
}

.landing-top {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    .btn{
        margin-left: 35px;
        padding: 7px 17px;
        font-weight: 400;
        font-size: 1rem;
    }
}

.landing-msg {
    color: #fff;
    z-index: 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    // position: absolute;
    // top: 125px;
    h1 {
        font-size: 3.125rem;
        max-width: 640px;
    }   
    h2 {
        font-size: 1.625rem;
        font-weight: 350;
        margin: 1rem auto;
    }
    h3 {
        font-size: 1.2rem;
        font-weight: 300;
        padding-bottom: 20px;
    }
}

.landing-netflix-description{
    background-color: #000000;
}

.description-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 45px;
    width: 100%;
    border-top: 8px solid #222;
    .conetnt-description{
        max-width: 500px;
        h1 {
            font-size: 3.125rem;
            margin-bottom: 0.5rem;
            margin-right: 0;
            line-height: 1.1;
        }
        h2 {
            font-size: 1.625rem;
            margin: .75em 0 .25em;
            font-weight: 300;
    
        }
    }

    .sign-in-bottom{
        margin: 0;
        border-top: none;
    }
}
.email-landing-wrapper{
    display: flex;
    width: 100%;
    .btn{
        width: 30%;
        border-radius: 2px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: 1px;
        height: 60px;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        a {
            font-size: 1.5rem;
        }
        &:hover {
            cursor: pointer;
            background-color: #F32315;
        }
        &:active{
            background-color: #CA1B03;
            outline: #911100 solid 2px;
        }
    }
}

.email-landing {
    display: flex;
    width: 90%;
    margin-bottom: 0 !important;
    height: 60px;
    input{
        color: #000;
    }
    .arrow-right{
        font-size: 20px;
        margin-left: 5px;
    }
    .sign-in-input {
        height: 100%;
        background-color: #fff;
        width: 100%;
        border-radius: 2px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid #8c8c8c;
    }
    .form-label-content {
        bottom: 20px;
    }
   

}

.languages{
    position: relative;
    select{
        background-color: transparent ;
        height: 40px;
        color: #ffffff;
        outline: none;
        border: 1px solid #838384;
        border-radius: 2px;
        margin: 0;
        padding: 10px 30px;
        font-size: 0.8rem;
        width: 100%;
        appearance: none;
        background-color: rgba($color: #0f0d10, $alpha: 0.8);
    }
    .globe{
        position: absolute;
        left: 6px;
        top: 11px;
        transform: scale(0.75);
        // padding-right: 10px;
        pointer-events: none;
    }
    .select-arrow{
        display: block;
        // width: 1rem;
        // height: 1rem ;
        position: absolute;
        top: 1px;
        right: 0px;
        // height: 100%;
        // margin: auto;
        width: 20px;
        pointer-events: none;
        border-radius: 2px;
        &::before{
            content: '';
            position: absolute ;
            width: 0;
            height: 0 ;
            // left: -3px;
            top: 16px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #ffffff; 
        }
    }
 }

.landing-top-right{
    display: flex;
    align-items: center;
    margin-right: 3%;
    z-index: 2;
    // max-width: 100%;
}

.logo:hover {
    cursor: default;
}
.logo-img {
    width: 210px;
    height: 89px;
    margin-left: 2%;
    z-index: 2;
}

.content-gif{
    position: relative;

}

.tv {
    img {
        position: relative;
        z-index: 2;
        max-width: 100%;
        height: auto;
    }
    video {
        width: 100%;
        height: 100%;
        max-width: 73%;
        max-height: 54%;
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
    }
}

.download {
    img {
        position: relative;
        z-index: 2;
        max-width: 100%;
        height: auto;
    }
}

.devices {
    img {
        position: relative;
        z-index: 2;
        max-width: 100%;
        height: auto;
    }
    video {
        width: 100%;
        height: 100%;
        max-width: 63%;
        max-height: 47%;
        position: absolute;
        top: 34%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}

.download-gif {
    position: absolute;
    left: 50%;
    bottom: 8%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    background: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60%;
    min-width: 15em;
    padding: .25em .65em;
    border: 2px solid rgba(255,255,255,.25);
    -webkit-box-shadow: 0 0 2em 0 #000;
    -moz-box-shadow: 0 0 2em 0 #000;
    box-shadow: 0 0 2em 0 #000;
    -webkit-border-radius: .75em;
    -moz-border-radius: .75em;
    border-radius: .75em;
    z-index: 3;

    &::after{
        width: 3em;
        height: 3em;
        outline: 2px solid #000;
        outline-offset: -2px;
        display: block;
        background: url(./assets/download-icon.gif) center center no-repeat;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100%;
        background-size: 100%;
        content: '';
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -moz-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .boxshot{
        height: 5em;   
        margin: 0 1em 0 0;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -moz-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0; 
    }
    .download-icon{
       
    }

    .txt{
        // margin: 0 50px 0 10px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        margin: .3em 0;
        .show-name{
            font-size: 1em;
        }
        .downloading-txt{
            font-size: 0.9em;
            color: #0071eb;
        }
      
    }
}

.btn {
    background-color: $netflix-red;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 15px 0;
}

.faq-section{
    flex-direction: column;
    h3{
        text-align: center;
    }

    .email-landing-wrapper{
        max-width: 815px;

    }

}

.ready-to-watch{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-align: center;
}

.faq-header{
    font-size: 3rem;
    margin-bottom: 50px;
}



.questions {
    max-width: 815px;
}

.accordian{
    background: #303030;
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    // padding: .8em 2.2em .8em 1.2em;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    outline: none;
    border: none;
    margin-top: 8px;
    font-size: 1.5rem;
}

.panel {
    background: #303030;
    /* display: none; */
    overflow: hidden;
    max-height: 0;
    transition: max-height 150ms ease-out;
    margin-top: 1px;
    p{
        padding: 1.2em;
        font-size: 1.4rem;
    }
}

.accordian:after {
    content: '\02795';
    font-size: 15px;
    float: right;
    margin-left: 5px;
}
.active-accordian {
    // margin-bottom: 1px;
}




//-----------------------------------------------------------------------sign in page
.sign-in-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    min-height: 100vh;
    // max-height: 110vh;s
    background: url('./assets/CA-en-20210322-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // z-index: 1;
     &::after{
        content: '';
        height: 100%;
        // min-height: 100vh;
        // max-height: 110vh;
        width: 100vw;
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
    }
}

.signin-top {
    z-index: 2;
    img:hover {
        cursor: pointer;
    }
}

.sign-in-form-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-background {
    justify-self: center;
    align-self: center;
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    width: 450px;
    // height: 660px;
    display: flex;
    justify-content: center;
    // align-items: center;
    padding: 60px 68px 40px;
    margin-bottom: 90px;
}

.sign-in-form{
    flex-direction: column;
    width: fit-content;
    padding: 0;
    width: 100%;
    position: relative;
    h3 {
        font-size: 32px;
        margin-bottom: 25px;
    }
}
.form-group{ 
    position: relative;
    margin-bottom: 16px;
}
.no-margin {
    margin-bottom: 0;
}
.form-label-content{
    position: absolute;
    bottom: 16px;
    left: 20px;
    // transition: ;
}
.sign-in-input{
    width: 100%;
    color: #fff;
    background-color: #333333;
    border: none;
    border-radius: 4px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    &:focus{
        outline: none;
        +.form-label{
            transform: translate(-14%, -18%) scale(0.7);
        }
    }
    &:hover {
        cursor: text;
    }
}

.form-input-error{
    border-bottom: 2px solid $error;
}

.keep-label-up{
    transform: translate(-14%, -18%) scale(0.7);
}

.form-label{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: transform 250ms ease-in-out;
    color: #7a7a7a;
}

.sign-in-error{
    background-color: $error;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    p{
        font-size: 13px;
    }
}

.sign-in-error-msg {
    color: $error;
    font-size: 0.8rem;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 12px;
}

.Sign-in-btn{
    width: 100%;
    background-color: $netflix-red;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: 40px 0 12px;
    padding: 15px 0;
    &:hover{
        cursor: pointer;
    }
}

.new-to-netflix{
    color: #737373;
    margin-bottom: 20px;
    a:hover{
        text-decoration: underline;
    }
}

.sign-in-bottom{
    // position: absolute;
    // bottom: 0;
    z-index: 2;
    height: 178px;
    width: 100vw;
    background-color: rgba(0,0,0,.75);
}

.facebook-icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.login-with-facebook-link{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 70px;
    margin-bottom: 20px;
}

.form-paragraph{
    font-size: 13px;
    color: #737373;
    span, a{
        color: #025fc4;
        font-size: 13px;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.google-msg{
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    margin-top: 10px;
}

.show{
    opacity: 1;
}

.sign-in-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 50px 0;
    margin: 0 auto;
    color: #737373;
    height: fit-content;
    a{
        color: #737373;
        font-size: 0.8rem;
        width: fit-content;
        &:hover{
            text-decoration: underline;
        }
    }
}

.sign-in-bottom-wrapper{
    width: 70%;
}

.info-top{
    margin-bottom: 20px;
    width: 100%;
}
.info-middle{
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
}

.info-bottom {
    .languages{
        width: 110px;
        border: 0.5px solid #262626;
    }
    max-width: 100%;
    select{
        color: #737373;
    }
    .select-arrow {
        &::before{
            border-top: 5px solid #737373; 
        }
    }
}

@media (max-width: 950px) {
    .description-item{
        flex-direction: column;
    }
    .accordian{
        height: 57px;
        font-size: 1.3rem;
        font-weight: 300;
    }
    .panel {
        p{
            font-size: 1.2rem;
        }
    }

    .download {
        .content-gif {
            order: 2;
        }
        .conetnt-description{
            order: 1;
        }
    }
    .email-landing-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn {
            height: 40px;
            margin-top: 20px;
            width: fit-content;
            margin-left: 0;
            border-radius: 2px;
            padding: 0 15px;
            a {
                font-size: 1rem;
            }
        }
    }
}



@media (max-width: 780px){

    .landing-msg {
        .landing-msg-content{
            max-width: 70%;
        }
        h1 {
            font-size: 2.1875rem;
        }   
        h2 {
            font-size: 1.325rem;
        }
        h3 {
            font-size: 1.2rem;
        }
    }

    .faq-section{
        h3{
            text-align: center;
        }
    }

    .sign-in-page-overlay {
        background-color: #000;
    }

    .sign-in-background {
        width: 100%;
        padding: 0 5%;
        height: fit-content;
    }

    .sign-in-bottom-wrapper {
        width: 100%;
        padding: 0 5%;
    }
    .sign-in-bottom {
        border-top: solid #737373 1px;
    }

    .sign-in-page {
        justify-content: flex-start;
    }
    .google-msg {
        padding-bottom: 40px;
    }
    

    .description-item{
        .conetnt-description{
            h1 {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
                margin-right: 0;
                line-height: 1.1;
                text-align: center;
            }
            h2 {
                font-size: 1rem;
                margin: .75em 0 .25em;
                font-weight: 300;
                text-align: center; 
            }
        }
    }
}

@media (max-width: 700px) {
    .email-landing {
        height: 48px;
        .form-label-content {
            bottom: 15px;
        }
        .logo-img {
            height: auto;
            margin-left: 2%;
            z-index: 2;
        }
    }

    .description-item{
        .sign-in-bottom{
            .info-middle{
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}


@media (max-width: 550px) {

    .faq-section{
        padding-left: 0;
        padding-right: 0;
    }    

    .download-gif{
        .boxshot{
            height: 4em;
        }
    }

    .languages{
        position: relative;
        select{
            height: 28px;
            padding-top: 1px;
            padding-bottom: 1px;
            font-size: 0.8rem;
        }
        .globe{
            top: 5px;
        }
        .select-arrow{
            &::before{
                top: 11px;
            }
        }
     }

     .landing-top {
         .sign-in {
            margin-left: 0.75rem;
            height: 27px;
            font-size: 0.7rem;
            display: flex;
            align-items: center;

        }
     }
}

@media (max-width: 500px){

    .description-item{
        .sign-in-bottom{
            .info-middle{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    .info-middle{
        grid-template-columns: repeat(2, 1fr);
    }

    .logo-img {
        width: 110px;
        height: 56.19px;
        padding-top: 10px;
    }
}

@media (max-width: 475px){

    .landing-msg {
        .landing-msg-content{
            
        }
        h1 {
            font-size: 1.7rem;
        }   
        h2 {
            font-size: 1.2rem;
        }
        h3 {
            font-size: 1.2rem;
        }
    }
}
@media (max-width: 250px){
    .info-middle{
        grid-template-columns: repeat(1, 1fr);
    }
}



@media (max-height: 700px) {
    .landing {
        height: 500px;
        width: 100%;
        position: absolute;
        background: url('./assets/CA-en-20210322-popsignuptwoweeks-perspective_alpha_website_large.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::after{
            content: '';
            height: 100%;
            width: 100vw;
            position: absolute;
            top: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 1;
        }
    }
    
    .landing-netflix-description{
        margin-top: 500px;
        background-color: #000000;
    }
}
